body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.details{
  -webkit-box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 63px -28px rgba(0,0,0,0.75);;
  box-sizing: border-box;
  border-radius:5px;
  background:white;

}
.col:not(#last){
  border-right:1px solid black;
}
#mapid { height: 180px; }